@import 'src/styles/global.scss';

.panel-start {
  @include sizeWH(100%, 100%);
  background: #FAFBFD;
  position: relative;

  &::before {
    content: '';
    @include sizeWH(8.5rem, 100%);
    @include position(absolute, $left: 0);
    clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
    background: #fff;
  }

  .extra {
    .left {
      @include position(absolute, $left: 0);
      @include sizeWH(3.3rem, 4rem);
      z-index: 1;
    }
    .right {
      @include position(absolute, $bottom: 0, $right: 0);
      @include sizeWH(3rem, 4rem);
      z-index: 1;
    }
  }

  .logo {
    @include imageCDN('world.svg', 4rem, 4rem);
    @include position(absolute, 1rem, $left: 2rem);
  }
}

.panel-start-inner {
  @include position(absolute, 2.4rem, 2.2rem);
  @include textMixin(#000, 0.35rem, bold);

  .name {
    @include position(relative, 0.1rem, $left: 0rem);
    padding-bottom: 0.1rem;

    input {
      @include textMixin(#000, 0.2rem);
      width: 3.5rem;
      padding-right: 0.1rem;
    }
  }

  .btn-start {
    @include sizeWH(3.5rem, 0.5rem);
    @include textMixin(#fff, 0.25rem, bold, uppercase);
    margin-top: 0.2rem;
  }
}