@import 'src/styles/global.scss';

.form-register {
  @include imageCDN('frame-login.png', 4rem, 6rem);
  @include flexCenter(column);
  @include bringDownAndHide();

  .title {
    @include textMixin(#000, 0.5rem, bold);
    margin-bottom: 0.2rem;
  }

  .username {
    @include imageCDN('box-input.png', 3rem, 0.8rem);
    position: relative;

    input {
      @include position(absolute, 0.28rem, $left: 0rem);
      font-size: 0.15rem;
      width: 100%;
      padding-right: 0.1rem;
    }
  }

  .password,
  .email {
    @extend .username;
    margin-top: -0.1rem;
  }

  .btn-signup {
    @include imageCDN('btn-blue-long.png', 3rem, 0.7rem);
    @include textMixin(#fff, 0.2rem, bold, uppercase);
    margin-top: 0.2rem;
    padding-bottom: 0.05rem;
  }

  .btn-login {
    @include textMixin(#0f4c81, 0.2rem);
    border: none;
    background: transparent;
  }
}

input {
  background-color: transparent;
  border: 0px;
  outline: none;
  box-shadow: none;
  padding-left: 0.1rem;
  font-size: 0.2rem;
}
