@import 'styles/global.scss';

.card {
  @include sizeWH(2.8rem, 2.8rem);
  @include textMixin(#000, 0.2rem, $align: left);
  margin: 0.3rem 0.5rem 0 0;

  .btn-join {
    @include sizeWH(1.1rem, 0.4rem);
    @include position(absolute, $top: 1.8rem, $left: 0.12rem);
    @include textMixin(#fff, 0.17rem, bold, uppercase);
    margin-top: 0.25rem;
    margin-bottom: 0.1rem;
  }

  .btn-spectate {
    @include sizeWH(1.3rem, 0.4rem);
    @include position(absolute, $top: 2.05rem, $left: 1.35rem);
    @include textMixin(#fff, 0.17rem, bold, uppercase);
    text-align: left;
  }
}

.content {
  @include textMixin(#000, 0.19rem, normal);
  padding: 0.1rem 0 0 0.2rem;

  div {
    margin-bottom: 0.08rem;
  }
  .title {
    @include textMixin(#000, 0.3rem, bold);
    margin-bottom: 0.2rem;
  }
}
