@import 'styles/global.scss';

.odd-card {
  @include sizeWH(2.4rem, 2.1rem);
  @include boxShadow();
  background: #212121;
  padding: 0.15rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  position: relative;
  text-align: left;

  &.isFake {
    @include sizeWH(100%, 100%);
    transition: opacity 0s;
    border: 0.03rem dashed #616161;
    opacity: 0;

    &::before {
      content: '';
      @include alignCenter();
      @include imageCDN('icon-plus-big.png', 1rem, 1rem);
    }

    &.showFake {
      transition: opacity 0.3s;
      opacity: 0.45;
    }
  }

  .card-title {
    @include textMixin(#fff, 0.22rem, $align: left);
    margin-top: 0.03rem;
    padding: 0.05rem 0.13rem;
  }

  .card-logo {
    @include flexCenter(row);
    @include position(absolute, $bottom: 0.12rem, $left: 0.2rem);
    img {
      @include sizeWH(0.25rem, 0.25rem);
    }
    span {
      @include position(relative, $left: 0.07rem);
      @include textMixin(#fff, 0.21rem);
      font-family: 'Orbitron', sans-serif;
    }
  }

  .card-picker {
    @include flexCenter(row);
    @include position(absolute, $bottom: 0.12rem, $left: 1.53rem);

    div:first-child {
      @include textMixin(#fff, 0.2rem, bold, uppercase);
      margin-right: 0.06rem;
    }

    div:last-child {
      @include textMixin(#212121, 0.19rem, $align: center);
      @include sizeWH(0.24rem, 0.24rem);
      background: #fff;
      border-radius: 50%;
      padding-top: 0.02rem;
    }
  }

  .card-question {
    @include imageCDN('icon-question.png', 1rem, 1rem);
    @include alignCenter();
    top: 40%;
    opacity: 0;
    transition: opacity 0.4s;
  }
}

.odd-card.white {
  background: #fff;
  .card-title {
    @include textMixin(#000, $align: left);
  }
  .card-logo span {
    color: #000;
  }
}

.odd-card.blue {
  background: #0088cc;
}


// ------CARD-SIZE------
.odd-card.medium {
  @include sizeWH(2rem, 1.7rem);
  .card-title {
    font-size: 0.2rem;
  }
  .card-logo {
    left: 0.15rem;
    img {
      @include sizeWH(0.22rem, 0.22rem);
    }
    span {
      font-size: 0.18rem;
    }
  }
}

.odd-card.small {
  @include sizeWH(1.5rem, 1.3rem);
  padding: 0.1rem;
  margin-right: 0.2rem;
  margin-bottom: 0.15rem;

  &:hover {
    transform: scale(1.1);
  }

  .card-title {
    font-size: 0.15rem;
  }
  .card-question {
    @include sizeWH(0.7rem, 0.7rem);
  }
  .card-logo {
    margin-left: -0.1rem;
    img {
      @include sizeWH(0.18rem, 0.18rem);
    }
    span {
      font-size: 0.15rem;
    }
  }
}

// Revealing effects
.card-inner {
  @include sizeWH(100%, 100%);
  @include position(absolute, 0, 0, 0, 0);

  .card-title {
    transition: opacity 0.5s;
    opacity: 1;
  }
  
}

.odd-card.closed {
  .card-title {
    opacity: 0;
  }
  .card-question {
    opacity: 1;
  }
}

