@import 'src/styles/global.scss';

.game-board {
  @include sizeWH(100%, 100%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80fr 20fr;
  grid-template-rows: 0.5rem auto;

  .game-content {
    @include sizeWH(100%, 6rem);
    overflow-y: scroll;
    // top: 0;
    padding-left: 0.5rem;
    border: 0.013rem solid #ddd;
    background: #fff;
    padding-bottom: 0.5rem;

    .container {
      & > .title {
        @include textMixin(#000, 0.25rem, bold, $align: left);
        margin-top: 0.1rem;
        position: relative;

        &::before {
          content: '';
          @include imageCDN('icon-play.png', 0.38rem, 0.38rem);
          @include position(absolute, $top: 0rem, $left: 1.7rem);
          cursor: pointer;
        }
      }

      .subtitle {
        @include textMixin(#000, 0.18rem, normal, $align: left);
      }
    }

    .rooms {
      @include flexCenter(row);
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  .global-chat {
    grid-area: 1 / 2 / span 2 / 3;
  }
}
