@import 'src/styles/global.scss';

.game-board-header {
  @include sizeWH(15rem, 0.7rem);
  background: #2d2d2d;

  .game-logo {
    @include position(absolute, 0.12rem, $left: 1.2rem);
    @include textMixin(#fff, 0.4rem, bold);
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;

    &::before {
      content: '';
      @include position(absolute, $top: 0rem, $left: -0.5rem);
      @include imageCDN('logo.png', 0.4rem, 0.4rem);
    }
  }

  .btn-menu {
    @include imageCDN('icon-hamburger.png', 0.38rem, 0.38rem);
    @include position(absolute, 0.15rem, $left: 3.5rem);
    cursor: pointer;
  }

  .search {
    @include sizeWH(4.48rem, 0.42rem);
    @include position(absolute, 0.08rem, $left: 4rem);
    @include textMixin(#000, 0.2rem);
    @include flexCenter(row);
    padding-top: 0.05rem;

    .icon-search {
      @include position(absolute, $top: 0.05rem, $left: 0.05rem);
      @include imageCDN('icon-search.png', 0.27rem, 0.27rem);
    }

    input {
      @include position(absolute, $top: 0.05rem, $left: 0.05rem);
      width: 95%;
      padding-left: 0.3rem;
    }
  }
}

.profile {
  @include position(absolute, $top: 0.05rem, $left: 11.5rem);
  @include flexCenter(row);

  div {
    @include sizeWH(0.45rem, 0.4rem);

    img {
      @include sizeWH(0.27rem, 0.27rem);
      @include position(absolute, $top: 0.02rem, $left: 0.05rem);
    }
  }

  div.user {
    @include sizeWH(0.5rem, 0.5rem);
    border-radius: 50%;

    img {
      @include sizeWH(0.4rem, 0.4rem);
      left: 0rem;
      border-radius: 50%;
    }
  }
}
