@import 'src/styles/global.scss';

.game-board-nav {
  @include sizeWH(100%, 0.5rem);
  @include flexCenter(row);
  justify-content: flex-start;

  .tab-new,
  .tab-vn,
  .tab-global {
    @include sizeWH(1.9rem, 0.5rem);
    @include textMixin(#000, 0.22rem);
    padding-top: 0.1rem;
    cursor: pointer;

    &.active {
      background: #fff;
      height: 0.52rem;
      border-right: 0.013rem solid #ddd;
      border-left: 0.013rem solid #ddd;
      font-weight: bold;
    }
  }
}
