@import 'src/styles/global.scss';

.game-board {
  @include sizeWH(100%, 100%);
  margin: 0 auto;

  .card-rooms {
    @include flexCenter(row);
    @include position(relative, $left: 0.7rem);
    width: 90%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
