@import 'src/styles/global.scss';

.room-list-nav {
  @include sizeWH(100%, 0.5rem);
  @include flexCenter(row);
  justify-content: flex-start;

  .tab-new,
  .tab-vn,
  .tab-global {
    @include sizeWH(1.9rem, 0.5rem);
    @include textMixin(#000, 0.21rem);
    @include flexCenter(row);
    padding-top: 0.05rem;
    cursor: pointer;

    &.active {
      background: #fff;
      height: 0.52rem;
      border-right: 0.013rem solid #ddd;
      border-left: 0.013rem solid #ddd;
      font-weight: bold;
      z-index: 1;
    }

    img {
      @include sizeWH(0.3rem, 0.3rem);
      margin-right: 0.05rem;
    }
  }
}
