@import url('https://use.typekit.net/gzs4pfq.css');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=chinese-traditional,latin-ext,vietnamese');

@font-face {
  font-family: 'Shentox';
  font-style: normal;
  font-weight: 100;
  src: url(../assets/font/Shentox.ttf) format('truetype');
}

@font-face {
  font-family: 'Shentox-Medium';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/font/Shentox-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Shentox-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url(../assets/font/Shentox-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Shentox-Bold';
  font-style: normal;
  font-weight: 900;
  src: url(../assets/font/Shentox-Bold.ttf) format('truetype');
}
