@import './reset.scss';
// @import './fonts.scss';
@import './mixins.scss';
@import './animations.scss';

/* setup viewport */
html {
  @include fullscreenSetup();
  background: #fafdff;
  overflow-x: hidden;
  overflow-y: auto;

  body {
    @include fullsize();
  }
}
