@import './reset.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './animations.scss';

/* setup viewport */
html {
  @include fullscreenSetup();
  background: #f1f1f1;
  overflow-x: hidden;
  overflow-y: hidden;

  body {
    @include fullsize();
  }
}
