@import 'styles/global.scss';

.menu {
  @include position(absolute, 0rem, 0.07rem);
  text-align: left;
  
  .menuBtn {
    @include imageCDN('icon-hamburger.png', 0.27rem, 0.27rem);
    position: absolute;
    top: 0.19rem;
    right: 0.15rem;
    cursor: pointer;
    transition: background-image 0.25s ease-out;
  }
}

.dropdown {
  @include position(relative, 0.6rem);
  @include sizeWH(2.2rem, auto);
  z-index: 2;
  box-shadow: 0 0.02rem 0.02rem 0 rgba(160, 159, 159, 0.2), 0 0.03rem 0.08rem 0 rgba(174, 172, 172, 0.19);
  background: #fff;
  visibility: hidden;

  div {
    @include textMixin(#656565, 0.18rem);
    position: relative;
    padding: 0.12rem 0 0.12rem 0.15rem;

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }
}

.profile::before {
  content: '';
  @include imageCDN('icon-user.png', 0.26rem, 0.26rem);
  @include position(absolute, 0.08rem, $right: 0.1rem);
}
.logout::before {
  content: '';
  @include imageCDN('icon-logout.png', 0.26rem, 0.26rem);
  @include position(absolute, 0.08rem, $right: 0.1rem);
}

.menu.open {
  .menuBtn {
    @include imageCDN('icon-close.png', 0.27rem, 0.27rem);
  }

  .dropdown {
    visibility: visible;
  }
}
