@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: url(../assets/fonts/Orbitron.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald-Medium';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Oswald-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Oddx';
  src: url('../assets/fonts/odd.woff') format('truetype'),
    url('../assets/fonts/odd.ttf') format('woff'), url('../assets/fonts/odd.svg#odd') format('svg');
  font-weight: normal;
  font-style: normal;
}
