@import './reset.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './animations.scss';
@import './variables.scss';

/* setup viewport */
html {
  @include fullscreenSetup();
  background: #f1f1f1;
  overflow-x: hidden;
  overflow-y: hidden;

  body {
    @include fullsize();
  }
}

// Setup customized blocks styles
.block {
  border: transparent;
  // padding: 0.05rem 0.2rem 0.1rem;

  &.blue::before {
    background-color: map-get($color-palette, 'blue');
  }
  &.green::before {
    background-color: map-get($color-palette, 'green');
  }

  &::before {
    content: "";
    background: var(--block-background-color);
    border: 0.03rem solid var(--block-text-color);
    border-radius: 0.03rem;
    position: absolute;
    top: -0.02rem;
    left: -0.02rem;
  }

  &::after {
    border: 0.03rem solid var(--block-text-color);
    border-radius: 0.03rem;
    top: 0.03rem;
    left: 0.03rem;
  }
}

div.block {
  &.black::before {
    background: map-get($color-palette, 'black');
  }
}
