/* reset style */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
select,
textarea,
p,
blockquote,
th,
td,
figure {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
b {
  font-weight: normal;
  font-style: normal;
}

ol,
ul,
li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

q::before,
q::after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select,
option,
label,
div {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

a,
button {
  cursor: pointer;
  border: none;
  &:hover {
    filter: brightness(1.2);
  }
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

html {
  text-size-adjust: 100%;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  // user-select: none;
}

button {
  transition: all 0.2s;

  &:active {
    transform: scale(1.07);
  }
}

input,
select {
  box-shadow: none;
  padding-left: 0.1rem;
  -webkit-user-select:text;
  border: none;
}
