/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: none; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  outline: none;
}

a,
button {
  cursor: pointer;
  border: none;
  &:hover {
    filter: brightness(1.2);
  }
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

input {
  background-color: transparent;
  border: 0px;
  outline: none;
  box-shadow: none;
  padding-left: 0.1rem;
  font-size: 0.2rem;
}
