@import '../../styles/global.scss';

.panel-login {
  @include imageCDN('frame-background.png', 12rem, 7rem);
  @include flexCenter(row);
  margin: 0.3rem auto;
  position: relative;
}

@mixin bringDownAndHide {
  z-index: 0;
  opacity: 0;
}

@mixin bringUpAndShow {
  z-index: 1;
  opacity: 1;
}

.form-container {
  @include position(absolute, $right: 2rem);
  transition: transform 0.6s ease-in-out, opacity 0s linear 0.3s;
}

.login-form {
  @include bringUpAndShow();
}

.active-register .login-form {
  transform: translateX(-100%);
  @include bringDownAndHide();
}

.register-form {
  @include bringDownAndHide();
}

.active-register .register-form {
  transform: translateX(-100%);
  @include bringUpAndShow();
}

.overlay-container {
  @include position(absolute, $left: 1.5rem);
  width: 4.5rem;
  height: 5.5rem;
  z-index: 11;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}

.active-register .overlay-container {
  transform: translateX(100%);
}

.overlay {
  @include position(absolute);
  @include flexCenter(row);
  justify-content: space-between;
  width: 9rem;
  height: 5.5rem;
  z-index: 10;
  background-color: #0f4c81;
  transition: all 0.6s ease-in-out;
}

.active-register .overlay {
  transform: translateX(-50%);
}

.left-logo {
  transition: all 0.6s ease-in-out;
}

.active-register .left-logo {
  transform: translateX(-20%);
}

.right-logo {
  transition: all 0.6s ease-in-out;
  transform: translateX(20%);
}

.active-register .right-logo {
  transform: translateX(0%);
}


.panel-logo {
  @include position(relative, -0.5rem);
  @include flexCenter(column);
  width: 4rem;

  .welcome {
    @include textMixin(#fff, 0.5rem);
    margin: 1rem 0 -0.5rem 0;
  }

  .welcome-logo {
    @include imageCDN('game-logo.png', 2.5rem, 1.8rem);
  }
  
  .logo {
    @include imageCDN('game-logo.png', 3.5rem, 2.5rem);
    @include position(relative, 0.1rem, $left: 0.2rem);
  }

  .description {
    @include textMixin(#fff, 0.2rem);
  }
}