@import 'styles/global.scss';

.odd-card {
  @include sizeWH(2.5rem, 2.1rem);
  background: #212121;
  border-radius: 0.05rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
  position: relative;
  text-align: left;

  .card-title {
    @include textMixin(#fff, 0.22rem, $align: left);
  }

  .card-logo {
    @include flexCenter(row);
    @include position(absolute, $bottom: 0.12rem, $left: 0.2rem);
    img {
      @include sizeWH(0.25rem, 0.25rem);
    }

    span {
      @include position(relative, $left: 0.07rem);
      @include textMixin(#fff, 0.21rem);
      font-family: 'Orbitron', sans-serif;
    }
  }

  .card-picker {
    @include flexCenter(row);
    @include position(absolute, $bottom: 0.12rem, $left: 1.63rem);

    div:first-child {
      @include textMixin(#fff, 0.2rem, bold, uppercase);
      margin-right: 0.06rem;
    }

    div:last-child {
      @include textMixin(#212121, 0.19rem, $align: center);
      @include sizeWH(0.24rem, 0.24rem);
      background: #fff;
      border-radius: 50%;
      padding-top: 0.02rem;
    }
  }
}

.odd-card.white {
  background: #fff;

  .card-title {
    @include textMixin(#000, 0.25rem, $align: left);
  }
  span {
    color: #000;
  }

  .card-picker {
    div:first-child {
      color: #000;
    }

    div:last-child {
      color: #fff;
      background: #000;
    }
  }
}

.odd-card.blue {
  background: #0088cc;

  .card-title {
    @include textMixin(#fff, 0.25rem, $align: left);
  }
  span {
    color: #fff;
  }

  .card-picker {
    div:first-child {
      color: #fff;
    }

    div:last-child {
      color: #000;
      background: #fff;
    }
  }
}


// ------CARD-SIZE------
.odd-card.medium {
  @include sizeWH(2rem, 1.7rem);
  .card-title {
    font-size: 0.2rem;
  }
  .card-logo {
    img {
      @include sizeWH(0.22rem, 0.22rem);
    }
    span {
      font-size: 0.18rem;
    }
  }
  .card-picker {
    left: 1.3rem;
    div:first-child {
      font-size: 0.19rem;
      margin-right: 0.06rem;
    }

    div:last-child {
      @include sizeWH(0.23rem, 0.23rem);
      font-size: 0.17rem;
    }
  }
}

.odd-card.small {
  @include sizeWH(1.5rem, 1.3rem);
  padding: 0.1rem;
  margin-right: 0.2rem;
  margin-bottom: 0.15rem;

  &:hover {
    transform: scale(1.1);
  }

  .card-title {
    font-size: 0.15rem;
  }
  .card-logo {
    margin-left: -0.1rem;
    img {
      @include sizeWH(0.18rem, 0.18rem);
    }
    span {
      font-size: 0.15rem;
    }
  }
  .card-picker {
    left: 0.5rem;
    div:first-child {
      font-size: 0.13rem;
      margin-right: 0.06rem;
    }

    div:last-child {
      @include sizeWH(0.23rem, 0.23rem);
      font-size: 0.16rem;
    }
  }
}
