@import 'src/styles/global.scss';

.global-chat {
  @include flexCenter(column);
  @include position(absolute, $right: 0);
  margin-left: 0.1rem;
  height: 100%;


  .chat-tab {
    @include flexCenter(row);
    @include textMixin(#000, 0.21rem, bold);
    @include sizeWH(1.5rem, 0.53rem);
    @include position(absolute, 0, 2rem);
    border-left: 0.013rem solid #ddd;
    border-right: 0.013rem solid #ddd;
    background: #fff;
    z-index: 1;

    img {
      @include sizeWH(0.3rem, 0.3rem);
      margin-right: 0.05rem;
    }
  }
}

.chat-container {
  @include sizeWH(3.5rem, 92%);
  @include position(absolute, 0.5rem, 0);
  border-left: 0.013rem solid #ddd;
  border-bottom: 0.013rem solid #ddd;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #fff;

  .content {
    border-top: 0.013rem solid #ddd;;
    flex: 1;
    overflow-y: auto;
    flex-direction: column-reverse;
    display: flex;
  }

  .input {
    @include textMixin(#000, 0.18rem);
    @include flexCenter(row);
    @include sizeWH(3.3rem, 0.4rem);
    border-radius: 0.3rem;
    background: rgba($color: #000, $alpha: 0.05);
    margin: 0.1rem;
  }
}