@import 'src/styles/global.scss';

.global-chat {
  @include flexCenter(column);
  background: #fff;
  border-left: 0.013rem solid #ddd;
  height: 100%;

  .chat-tab {
    @include flexCenter(row);
    @include textMixin(#000, 0.21rem, bold);
    height: 0.5rem;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .content {
    border-top: 0.013rem solid #ddd;;
    flex: 1;
  }

  .input {
    @include textMixin(#000, 0.18rem);
    @include flexCenter(row);
    border-radius: 0.5rem;
    background: rgba($color: #000000, $alpha: 0.05);
    margin: 0.1rem;
    height: 0.4rem;
  }
}