@import 'styles/global.scss';

.room-list {
  @include sizeWH(100%, 100%);
  margin: 0 auto;
  @include flexCenter(row);
  align-items: stretch;

  & > .content-and-nav-wrapper {
    width: 80%;
  }

  & .content {
    @include sizeWH(100%, 80vmin);
    overflow-y: scroll;
    top: 0;
    border: 0.013rem solid #ddd;
    background: #fff;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;

    .container {
      & > .title {
        @include textMixin(#000, 0.25rem, bold, $align: left);
        margin-top: 0.1rem;
        position: relative;

        &::before {
          content: '';
          @include imageCDN('icon-play.png', 0.38rem, 0.38rem);
          @include position(absolute, $top: 0rem, $left: 1.7rem);
          cursor: pointer;
        }
      }

      .subtitle {
        @include textMixin(#000, 0.18rem, normal, $align: left);
      }
    }

    .rooms {
      @include flexCenter(row);
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1000px) {
  .room-list {
    flex-direction: column;

    & > .content-and-nav-wrapper {
      flex: 1;
      width: 100%;
    }

    .global-chat {
      flex-direction: row;
      align-items: stretch;
    }
    .global-chat--banner {
      @include sizeWH(15%, auto);
      border-top: 0.013rem solid #ddd;
      border-right: 0.013rem solid #ddd;
    }
  }
}

@include queryPhone {
  .global-chat {
    display: none;
  }
}
