@import 'styles/global.scss';

.room-list {
  @include sizeWH(100%, 100%);
  @include flexCenter(row);
  justify-content: flex-start;
  margin: 0 auto;
  align-items: stretch;

  .room-list-inner {
    width: 78%;
  }

  .container {
    @include sizeWH(100%, 92%);
    overflow-y: scroll;
    top: 0;
    border: 0.013rem solid #ddd;
    background: #fff;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;

    .title {
      @include textMixin(#000, 0.25rem, bold, $align: left);
      margin-top: 0.1rem;
      position: relative;

      &::before {
        content: '';
        @include imageCDN('icon-play.png', 0.38rem, 0.38rem);
        @include position(absolute, $top: 0rem, $left: 1.7rem);
        cursor: pointer;
      }
    }

    .subtitle {
      @include textMixin(#000, 0.18rem, normal, $align: left);
    }

    .rooms {
      @include flexCenter(row);
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
