@import './styles/global.scss';

#app {
  @include textMixin(#212121, 0.24rem, $align: center);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-bottom: 0.5rem;
  @include flexCenter(column);
}

.main {
  @include sizeWH(13.34rem, 100%, $pos: relative);
}
