@import 'styles/global.scss';

#app {
  @include flexCenter(column);
  @include textMixin(#212121, 0.24rem, $align: center);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-bottom: 0.5rem;
}

.main {
  @include sizeWH(14.7rem, calc(100vmin - 0.6rem), $pos: relative);
}

.header-bg {
  @include sizeWH(100%, 0.6rem);
  @include position(absolute, 0);
  background: #2d2d2d;
}
