@import 'styles/global.scss';

.modal-create {
  @include position(fixed, 0, 0, 0, 0, $z-index: 2);
  @include flexCenter(row);
  background: rgba(0, 0, 0, 0.65);
  font-size: 0.3rem;
  font-family: 'Oswald', sans-serif;
  z-index: 2;

  .dialog {
    @include sizeWH(7.2rem, 4.38rem);
    @include flexCenter(column);
    background-image: linear-gradient(#fff, #8C8C8C);
    position: relative;
  }
}

.header {
  @include sizeWH(100%, 0.52rem);
  @include textMixin(#fff, 0.3rem, normal, uppercase, $align: center);
  padding-top: 0.05rem;
  background: #0477BD;
  font-family: 'Oswald-Medium', sans-serif;
  display: inline-block;
}

.btn-close {
  @include position(absolute, 0.05rem, $right: 0.05rem, $bottom: 0);
  @include imageCDN('modals/popup-close-icon.png', 0.4rem, 0.4rem);
  padding: 0;
  border: none;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  color: #000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  overflow-y: hidden;
  padding-top: 0.2rem;
}

.content {
  @include flexCenter(column);
}

.room-name {
  @include flexCenter(row);
  .text {
    @include textMixin(#000, 0.28rem, bold, uppercase);
    @include position(absolute, 0.52rem, $left: 1.7rem);
  }
  .panel {
    @include position(absolute, 0.4rem, $left: 3.2rem);
  }
  input {
    @include sizeWH(2.6rem, 0.4rem);
    padding-right: 0.1rem;
    font-size: 0.28rem;
    color: #212121;
  }
}

.room-size {
  @extend .room-name;
  .text { top: 1.1rem; left: 2rem;}
  .panel { top: 1rem;}
}

.room-lang {
  @extend .room-name;
  .text { top: 1.6rem; left: 1.85rem;}
  .panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    top: 1.5rem;
    label {
      @include flexCenter(row);
      justify-content: flex-start;
      margin-right: 0.1rem;
      i {
        @include position(relative, 0.1rem);
      }
      span {
        @include position(relative, 0.07rem);
      }

      &:first-child {
        i {
          @include imageCDN('icon-global.png', 0.3rem, 0.3rem);
        }
      }
      &:last-child {
        i {
          @include imageCDN('icon-vn.png', 0.3rem, 0.3rem);
        }
      }
    }
    input {
      @include position(relative, 0.1rem);
      width: 0.18rem;
      margin-right: 0.05rem;
    }
  }
}

.footer {
  @include flexCenter(column);
  padding: 0.15rem 0.16rem 0.2rem;

  .btn-confirm {
    @include sizeWH(1.95rem, 0.53rem);
    @include textMixin(#fff, 0.24rem, bold, uppercase);
    font-family: 'Oswald', sans-serif;
  }
}
